mixin advantage
    section.advantage
        .container
            .title__wrap
                .subtitle Advantage
                .title 服務優勢

            .advantage__content
                p 熊蓋厚貸有多年貸款申辦經驗，經手上萬件案件，深知貸款核准是客戶最大的期望，我們非代書、當鋪、地下錢莊，我們提供有效的資源及管道，讓您的申貸條件受到平等對待，優化客戶評分、強化過件機會，是我們最拿手專業的服務，把您貸款的期待交給我們來為您解決吧！

                .iframe__wrap
                    iframe(
                        width="100%"
                        height="460"
                        src="https://www.youtube.com/embed/WnznvrVWyXE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    )

            ul.advantage__list
                li.advantage__item
                    .advantage__dec 優勢1
                    .advantage__text
                        p 認證商標註冊
                        span 具有商標認證，【熊蓋厚】註冊標商番定號022066086、02206630、02205566、02206844，請認明熊蓋厚貸註冊商標，才是真的安心有保障。

                li.advantage__item
                    .advantage__dec 優勢2
                    .advantage__text
                        p 特約專業團隊
                        span 三大融資 (中租/和潤/裕融) 特約經銷，案件皆直送審核，多年貸款及協商經驗，，能協助客戶致力爭取最好的方案，核准率最高，全程最放心。

                li.advantage__item
                    .advantage__dec 優勢3
                    .advantage__text
                        p 上市公司律師認證
                        span 本網聘任聯合法律事務所『陳榮輝律師』擔任常年法律顧問律師，注重個人資料保護法，將其資料僅為貸款之使用，致力保護消費者的權益。

                li.advantage__item
                    .advantage__dec 優勢4
                    .advantage__text
                        p 線上加密保護隱私
                        span 結合數位科技的金融服務，不僅提供客戶更便利的線上申貸模式，更透過加密方式提升資料的安全性，不必擔心個資外洩。




