mixin banner
    section.banner__large
        .container
            .text__wrap
                .text__inner
                    .subtitle Car Loans
                    .title 汽車貸款
                    .text 名下有汽車都能貸，最高貸到220%，額度最高350萬，詳細評估財務狀況，融資公司所承擔的風險比較低，所以申辦條件也比較寬鬆，諮詢全免費，月繳金額低，線上估價超快速。

            .img__wrap
                //<video id="video-background" autoplay loop muted plays-inline>
                //    <source src="../assets/images/car.mp4" type="video/mp4">
                //</video>

                .banner__video(
                    id="youtubeEmbed"
                    width="100%"
                    height="100%"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    data-video-id="-fcXNi7gTwA"
                )

