mixin banner
    section.banner__large
        .container
            .text__wrap
                .text__inner
                    .subtitle Motorcycle Loans
                    .title 機車貸款
                    .text 在人人幾乎都有機車的時代，當急需要一筆錢時，申貸門檻低的機車貸款絕對是首選！年滿20～65歲，只要名下有機車，最高可以申辦到60萬！

            .img__wrap
                //img(src="../assets/images/moto/banner.png")
                //<video autoplay loop id="video-background" muted plays-inline>
                //    <source src="../assets/images/moto.mp4" type="video/mp4">
                //</video>
                //src="https://www.youtube.com/embed/HrdYJaOx5n0?mute=1&autoplay=1&loop=1&playlist=HrdYJaOx5n0"

                .banner__video(
                    id="youtubeEmbed"
                    width="100%"
                    height="100%"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    data-video-id="HrdYJaOx5n0"
                )

