mixin video
    section.video
        .container
            .title__wrap
                .title 影音專區

            .swiper-video.swiper-container
                .swiper-wrapper.video__list
                    .swiper-slide.video__item
                        .slide-inner
                            .iframe__wrap
                                iframe(
                                    width="100%"
                                    height="320"
                                    src="https://www.youtube.com/embed/WnznvrVWyXE"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                )

                    .swiper-slide.video__item
                        .slide-inner
                            .iframe__wrap
                                iframe(
                                    width="100%"
                                    height="320"
                                    src="https://www.youtube.com/embed/WnznvrVWyXE"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                )

                    .swiper-slide.video__item
                        .slide-inner
                            .iframe__wrap
                                iframe(
                                    width="100%"
                                    height="320"
                                    src="https://www.youtube.com/embed/WnznvrVWyXE"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                )

                    .swiper-slide.video__item
                        .slide-inner
                            .iframe__wrap
                                iframe(
                                    width="100%"
                                    height="320"
                                    src="https://www.youtube.com/embed/WnznvrVWyXE"
                                    title="YouTube video player" frameborder="0"
                                    allowfullscreen
                                )

                .swiper-button-prev.swiper-video-prev
                .swiper-button-next.swiper-video-next
